<div class="container chatbot" data-controller="scroll" >
  <h1>AI Shopping Assistant</h1>
  <div id="questions" data-scroll-target="container">
    <%= render @questions %>
  </div>

  <%= render "form", question: @question %>
</div>

