.banner {
  background-size: cover;
  height: 350px;
  background-position: 50% 85%;
  padding: 60px 20px;
  position: relative;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 45px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 70px;
  left: 50px;
}

.banner p {
  font-size: 30px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  position: absolute;
  top: 130px;
  left: 80px;
}
